VITE_MODE=development
NODE_ENV=development

# APP CONFIGURATION
VITE_BASE_API_URL=/api
SERVER_PORT=8080
CLIENT_URL=http://localhost:3000

#DATABASE CONNECTION
DB_NAME=foxclub_raffle
DB_DIALECT=mysql
DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=root
DB_PORT=3306