VITE_MODE=development
NODE_ENV=development

# APP CONFIGURATION
VITE_BASE_API_URL=/api
VITE_CLIENT_URL=http://localhost:3000

# ALLOWED ORIGINS
ALLOWED_ORIGINS=

SERVER_PORT=8080
JWT_SECRET=
SESSION_SECRET=
CHECKSUM_SECRET_KEY=

# DATABASE CONNECTION
DB_NAME=foxclub_raffle
DB_DIALECT=mysql
DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=root
DB_PORT=3306

# REDIS CONFIGURATION
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_TTL=300
TOKENS_CACHE_TTL=300
METADATA_CACHE_TTL=3600

# BLOCKCHAIN AND RPCs
REACT_APP_SOLANA_RPC_HOST=https://mainnet.helius-rpc.com/?api-key=
REACT_APP_SOLANA_NETWORK=mainnet
REACT_APP_SOLANA_RPC_POOL_DAS_API=https://mainnet.helius-rpc.com/?api-key=

# VITE FRONTEND ENVIRONMENT VARIABLES 
VITE_SOLANA_RPC_HOST=https://mainnet.helius-rpc.com/?api-key=
VITE_SOLANA_NETWORK=mainnet
VITE_SOLANA_RPC_POOL_DAS_API=https://mainnet.helius-rpc.com/?api-key=

# ADMIN
ADMIN_PUBKEY=

# Wallet to Receive Raffle Rewards [also used as PLATFORM Wallet]
BET_RECEIVER_WALLET=

# COLLECTION ADDRESS
COLLECTION_ADDRESS=A8CLroRPZ7GHQFRBM5ByPxhxnYG1prp4FraCPevh6gE
